
/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  background-color: #ddd;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  font-size:1.25em ;
  font-weight: normal;

}

h1 {
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

p {
  font-style: oblique;
}

a {
  text-decoration: none;
}

a:hover {
  color:blue;
}

 img[src$="jpg"] {
  border-color: red;
}
/* ---- Layout Containers ---- */
.border {
  border-style: solid;
  border-color: #eee;
  padding: 5px;
  margin: 10px;
}
/* ---- Page Elements ---- */
.img-style {
  border-radius: 360%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:35%;
}

.footer {
  text-align: center;
  margin-top: 50px;
}
